@font-face{
	font-family: 'coolvetica';
	src:url('../fonts/coolvetica rg.ttf');
}

@font-face{
	font-family: 'CenturyGothic';
	src:url('../fonts/CenturyGothic rg.ttf');
}

@font-face{
	font-family: 'CenturyGothic_bold';
	src:url('../fonts/CenturyGothic rg.ttf');
}



