html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 14px "Helvetica Neue",Arial,Helvetica,sans-serif;
}

button{
  padding: 5px;
}

.select_pole_icon{
  background-image: url("../img/select_pole.png");
  background-size: cover;
  height: 40px;
  width: 40px;
  margin: 0px;
}

.remove_selected_pole_icon{
  background-image: url("../img/remove_selected_pole.png");
  background-size: cover;
  height: 40px;
  width: 40px;
  margin: 0px;
}

.polygon_search_pole{
  background-image: url("../img/search_place.png");
  background-size: cover;
  height: 40px;
  width: 40px;
  margin: 0px;
}

.active_drawing_icon{
  background-image: url("../img/active_draw_polygon.png");
  background-size: cover;
  height: 40px;
  width: 40px;
  margin: 0px;
}

.polygon_drawer_icon{
  background-image: url("../img/polygon_drawer.png");
  background-size: cover;
  height: 40px;
  width: 40px;
  margin: 0px;
}

.floating-panel {
  position: absolute;
  top: 10px;
  z-index: 5;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
}

.floating-panel-bottom{
  position: absolute;
  bottom: 10px;
  z-index: 5;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
}

.row{
  width: 100%;
  height: 100%;
  margin: 0px;
}

.panel-container{
  background: #1181FB;
  height: 100%;
}

.map-container{
  position: relative;
  padding: 0px;
  height: 100%;
}

.map-options{
  width: 100%;
  padding: 0px;
}

.map-filters{
  width: 100%;
  padding: 0px;
}

.map-canvas{
  height: 100%;
  width: 100%;
  padding: 0px;
}

.pole-info-container{
  background-color: white;
  height: 80%;
  border-radius: 5px;
  margin-top: 5%;
  overflow-y: auto;
}

.pole-title{
  color: white;
  font-weight:  bold;
}

.map-options>input{
  margin: 20px;
}

.pole-info-item{
  height: 60px;
  border: 1px solid #eee;
  /*border-left-color: #ff0000;*/
}

.pole-info-item:hover{
  background-color: #f1f1f0;
}

.pole-info-img{
  height: 100%;
  padding: 10px;
}

.pole-info-id{
  height: 100%;
}

.pole-info-tags{
  height: 100%;
}

.button-add{
  background-color: #d43f3a;
}

.button-draw{
  background-color: #d43f3a;
}

button{
  margin: 0px 10px 0px 10px;
}

.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;   
}
.modal-backdrop{
    z-index: 10;        
}​

.media-body{
  height: 100%;
}

.modal-img{
  height: 100%;
}

.modal-info{
  height: 350px;
}

.modal-checkboxes{
  height: 350px;
  border-left-color: #ccc;
  border-left-style: solid;
  border-left-width: 1px;
  margin: 5px;
}

.modal-info-poles,.modal-cable{
  
}

.locations{
  position: absolute;
}

img{

}

#empty-container{
  padding: 20px;
}

#pole-list{
  margin-top: 20px;
}

h3{

}

.list-group-item{
  padding: 5px;
}

.map-marker-drawer-options{
  border: 1px solid;
}

.map-polygon-drawer-options{

}